---
import Layout from '../layouts/Default.astro';
import { Picture } from 'astro:assets';
import sarahHeroImage from '../images/sarah-hero.jpg';
---

<Layout pageTitle="About" pubDate={new Date('12 Jul 2024')}>
	<hero>
		<h1>About Sarah</h1>
		<Picture src={sarahHeroImage} alt="Sarah" />
	</hero>
	<content>
		<p>
			Hey there! Welcome to Sarah Makes Stuff. I mostly <a href="/dessert">bake</a> but sometimes I try my hand at <a href="/diy">DIY</a> as well. My greatest joy
			is making people happy, especially through food, so I hope you find something here that makes your day, or tummy, a little better.
		</p>

		<p>Check out some of my favorites!</p>

		<ul>
			<li><a href="/dessert/brown-butter-chewy-chocolate-chunk-cookies">Brown Butter Chewy Chocolate Chunk Cookies</a></li>
			<li><a href="/dessert/carrot-cake-bunnies">Carrot Cake Bunnies</a></li>
			<li><a href="/dessert/london-fog-blondies">London Fog Blondies</a></li>
			<li><a href="/dessert/peanut-butter-cookies">Peanut Butter Cookies</a></li>
		</ul>
	</content>
</Layout>
