---
import { getCollection } from 'astro:content';
import Layout from '../layouts/Default.astro';
import { sortItemsByDateDesc } from '../utils/data-utils';
import PostPreviewCollectionHorizontal from '../components/PostPreviewCollectionHorizontal.astro';
import PostPreviewCollectionVertical from '../components/PostPreviewCollectionVertical.astro';

const verticalCollectionLength = 8;

const dessertPosts = (await getCollection('dessert')).sort(sortItemsByDateDesc);
const pinkPosts = dessertPosts.filter((post) =>
	post.data.tags.includes('pink'),
);
const recentDesserts = dessertPosts.slice(0, verticalCollectionLength);
const diyPosts = (await getCollection('diy')).sort(sortItemsByDateDesc);
const recentDiy = diyPosts.slice(0, verticalCollectionLength);
const moreDesserts = dessertPosts.length > verticalCollectionLength;
const moreDiy = diyPosts.length > verticalCollectionLength;
---

<Layout
	pageTitle={undefined}
	pageDescription="I mostly bake but some times I try my hand at craftinesses too."
>
	<div>
		<div class="section-title">
			<h1>Featured: #onwednesdaysweeatpinktreats</h1>
			<div class="more-link">
				<a href="/dessert/tag/pink">See all</a>
			</div>
		</div>
		<PostPreviewCollectionHorizontal posts={pinkPosts} />
	</div>
	<div class="columns">
		<div>
			<h1>Recently Baked&hellip;</h1>
			<PostPreviewCollectionVertical posts={recentDesserts} />
			{
				moreDesserts ? (
					<a href="/dessert">Show me some more sugar</a>
				) : (
					<p>More desserts coming soon!</p>
				)
			}
		</div>
		<div>
			<h1>Recently DIYed&hellip;</h1>
			<PostPreviewCollectionVertical posts={recentDiy} />
			{moreDiy ? <a href="/diy">See all</a> : <p>More DIY coming soon!</p>}
		</div>
	</div>
</Layout>

<style lang="scss">
	.section-title {
		display: flex;
		justify-content: space-between;
		h1 {
			text-transform: none;
			letter-spacing: normal;
			font-size: 88%;
			margin: 0 0 1rem 0;
		}
		.more-link {
		}
	}
	.columns {
		@include breakpoint(sm) {
			display: flex;
			gap: 4%;
		}
	}
</style>
