---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead
			pageTitle={undefined}
			pageDescription="I mostly bake but some times I try my hand at craftinesses too."
		/>
	</head>
	<body>
		<Header />
		<main>
			<h1>TODO: Featured content</h1>
		</main>
		<Footer />
	</body>
</html>
