---
import Layout from '../layouts/Default.astro';
---

<Layout
	pageTitle={undefined}
	pageDescription="I mostly bake but some times I try my hand at craftinesses too."
>
	<h1>TODO: Featured content</h1>
</Layout>
