---
import HeaderLink from './HeaderLink.astro';
import siteConfig from '../consts';
import { Picture } from 'astro:assets';
import logoImage from '../images/logo.png';
---

<header>
	<div class="logo">
		<a href="/">
			<Picture class="site-logo" src={logoImage} alt={siteConfig.title} />
		</a>
	</div>
	<nav>
		<div class="internal-links">
			<HeaderLink href="/dessert">Recipes</HeaderLink>
			<HeaderLink href="/diy">DIY</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink>
		</div>
	</nav>
</header>
<style>
	header {
		padding-top: 3%;
		margin: 0;
		padding-bottom: 5rem;

		.logo {
			display: flex;
			justify-content: center;
		}

		nav {
			display: flex;
			align-items: center;
			justify-content: center;
		}
		.site-logo {
			max-height: 12rem;
			width: auto;
		}
		nav a {
			padding: 1em 0.5em;
			color: var(--black);
			border-bottom: 4px solid transparent;
			text-decoration: none;
			text-transform: uppercase;
		}
		nav a.active {
			text-decoration: none;
			border-bottom-color: var(--black);
		}
	}
</style>
