---
import type { CollectionEntry } from 'astro:content';
import PostPreview from './PostPreview.astro';

export type Props = {
	posts: CollectionEntry<'dessert' | 'diy'>[];
};
const { posts } = Astro.props;
---

<div class="post-preview-collection" id="post-preview-collection">
	{posts.map((post) => <PostPreview post={post} />)}
</div>

<script>
	import MagicGrid from 'magic-grid';

	let magicGrid = new MagicGrid({
		container: '#post-preview-collection',
		static: true,
		animate: true,
	});
	magicGrid.listen();
</script>
